body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aqua;
}

.title {
    color: red;
}

.sub-title {
    color: blue;
    text-align: center;
}

.container {
    border: 1px solid black;
    background-color: chartreuse;
}